---
---

@import "{{ site.theme }}";

.page-header {
	background: #FFFFFF url('../images/test.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section {
	text-align: center;
}
