---
---

@import "{{ site.theme }}";

.page-header {
	background: #FFFFFF url('../images/test.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.fotokatalitik {
	background: #FFFFFF url('../images/fotokatalitik.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
